.form_container{
    display: flex;
    height: 100%;
    margin: 30px;
    width: 30%;
    background-color: rgb(206, 206, 206);
    padding: 20px;
}

.form_group{
    margin: 10px;
}
.form_group label{
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}
.form_group input{
    width: 400px;
    height: 30px;
}

.btn{
    padding: 10px 30px;
    margin-left: 10px;
    margin-top: 20px;
}

.services_preview{
    width: 60%;
    margin-left: 80px;
}

.service_card{
    border: 1px solid grey;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service_card h3{
    margin-top: 0;
    margin-bottom: 0;
}
.service_card p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.service_card i{
    display: block;
    font-size: 12px;
}