#header {
  height: 80px;
  background-color: rgb(253, 205, 205);
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


#main {
  height: 400px;
  padding: 0px 20px;
  background-color: rgb(212, 212, 212);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#services {
  padding: 0px 20px;
}

.services_container {
  display: flex;
}

.service {
  height: 150px;
  background-color: rgb(90, 87, 87);
  color: white;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.button {
  padding: 10px 30px;
  background-color: #fff;
  border: 2px solid green;
  text-transform: uppercase;
  transition: all 1s;
}
.button:hover {
  padding: 10px 30px;
  background-color: green;
  border: 2px solid green;
  color: white;
  text-transform: uppercase;
}